$--primary-bg-color--white: #fff;
$--primary-bg-color--blue: #4f2fd8;
// $--primary-bg-color--black: #212529;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
    font-family: 'Poppins';
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: $--primary-bg-color--white;
    text-align: left;
    overflow: hidden;
}
.main
{
    height: 1000px;
    width: 100%;
    background-color: $--primary-bg-color--blue;
    .__nav
    {
        height: 84px;
        max-width: 100%; 
        padding: 0px 16px;
        background-color: $--primary-bg-color--blue;
        .-container
        {
            // height: 100%;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 0px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .-branch
            {
                cursor: pointer;
            }
            .-inner
            {
                .navbar-nav
                {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    .nav-items
                    {
                        cursor: pointer;
                        padding: 30px 20px;
                        padding-right: 1.25rem;
                        padding-left: 1.25rem;
                        display: flex;
                        align-items: center;
                        position: relative;
                        .nav-link
                        {
                            text-decoration: none;
                            color: $--primary-bg-color--white;
                        }
                        .fa-caret-up
                        {
                            color: $--primary-bg-color--white;
                            position: absolute;
                            top: 100%;
                            opacity: 0;
                            visibility: hidden;
                            transition-duration: 0.3s;
                            transition-timing-function: ease-in-out;
                            transition-property: all;
                        }
                        .drop-menu
                        {
                            opacity: 0;
                            visibility: hidden;
                            padding-left: 0;
                            background-color: $--primary-bg-color--white;
                            list-style: none;
                            display: block;
                            position: absolute;
                            top: 114%;
                            left: 0;
                            font-size: 13px;
                            color: #2c2e30;
                            text-transform: uppercase;
                            font-weight: 700;  
                            border-radius: 2px;
                            transition-duration: 0.3s;
                            transition-timing-function: ease-in-out;
                            transition-property: all;
                            li
                            {
                                width: 210px;
                                padding: 10px;
                                height: 39.5px;
                                box-sizing: border-box;
                            }
                        }
                    }
                    .dropdown:hover
                    {
                        .fa-caret-up
                        {
                            opacity: 1;
                            visibility: visible;
                            top: 70%;
                        }
                        .drop-menu
                        {
                            top: 84%;
                            opacity: 1;
                            visibility: visible;
                            li:hover
                            {
                                background-color: #e9ecee;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1200px){
    .-container
    {
        max-width: 1140px;
    }
  }