@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins";
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #212529;
  text-align: left;
  overflow-x: hidden;
}

.main {
  width: 100%;
}
.main .same-background {
  background: linear-gradient(134deg, #4728dc, #8230e7);
}
.main .same-background .__nav {
  height: 84px;
  width: 100%;
}
.main .same-background .__nav .-container {
  position: absolute;
  max-width: 100%;
  left: 11%;
  right: 11%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .same-background .__nav .-container .-branch {
  cursor: pointer;
}
.main .same-background .__nav .-container .-inner .navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items {
  cursor: pointer;
  padding: 30px 20px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .nav-link {
  text-decoration: none;
  color: #fff;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .fa-caret-up {
  color: #fff;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  background-color: #fff;
  list-style: none;
  display: block;
  position: absolute;
  top: 114%;
  left: 0;
  font-size: 13px;
  color: #2c2e30;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu {
  width: 210px;
  padding: 10px;
  height: 39.5px;
  box-sizing: border-box;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu {
  text-decoration: none;
  color: #212529;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu .new-icon, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu .new-icon {
  font-size: 10px;
  box-sizing: border-box;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  color: #212529;
  background-color: #ffc107;
  margin-left: 0.5rem !important;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu .fa-caret-down, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu .fa-caret-down {
  position: absolute;
  left: 90%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .drop-menu-child, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .drop-menu-child {
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  background-color: #fff;
  list-style: none;
  display: block;
  position: absolute;
  left: 100%;
  font-size: 13px;
  color: #2c2e30;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .drop-menu-child li, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .drop-menu-child li {
  width: 230px;
  padding: 10px;
  height: 39.5px;
  box-sizing: border-box;
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .add-1, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-1 {
  top: calc(10% + 39.5px);
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .add-2, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-2 {
  top: calc(10% + 79px);
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .add-3, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-3 {
  top: calc(10% + 118.5px);
}
.main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .add-4, .main .same-background .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-4 {
  top: calc(10% + 158px);
}
.main .same-background .__nav .-container .-inner .navbar-nav .dropdown:hover .fa-caret-up {
  opacity: 1;
  visibility: visible;
  top: 70%;
}
.main .same-background .__nav .-container .-inner .navbar-nav .dropdown:hover .drop-menu {
  top: 84%;
  opacity: 1;
  visibility: visible;
}
.main .same-background .__nav .-container .-inner .navbar-nav .dropdown:hover .drop-menu li:hover {
  background-color: #e9ecee;
}
.main .same-background .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .fa-caret-down {
  rotate: -90deg;
}
.main .same-background .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .drop-menu-child {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.main .same-background .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-1 {
  top: calc(0% + 39.5px);
}
.main .same-background .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-2 {
  top: calc(0% + 79px);
}
.main .same-background .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-3 {
  top: calc(0% + 118.5px);
}
.main .same-background .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-4 {
  top: calc(0% + 158px);
}
.main .same-background .home {
  height: 716px;
  width: 100%;
  display: flex;
}
.main .same-background .home .align-items--center {
  z-index: 1;
  height: 100%;
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.main .same-background .home .align-items--center .welcome-intro {
  width: 50%;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 80px;
}
.main .same-background .home .align-items--center .welcome-intro .text-white {
  color: #fff;
}
.main .same-background .home .align-items--center .welcome-intro h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}
.main .same-background .home .align-items--center .welcome-intro p {
  font-size: 16px;
  margin: 24px 0;
}
.main .same-background .home .align-items--center .welcome-intro .button-group--store {
  margin-top: 30px;
  display: flex;
}
.main .same-background .home .align-items--center .welcome-intro .button-group--store img {
  max-width: 190px;
  cursor: pointer;
}
.main .same-background .home .align-items--center .welcome-intro .button-group--store .android {
  margin-right: 10px;
}
.main .same-background .home .align-items--center .welcome-intro .notice {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 0;
  font-style: italic;
}
.main .same-background .home .align-items--center .app-intro {
  width: 50%;
  padding: 50px 0 15px 0;
  box-sizing: border-box;
  position: relative;
}
.main .same-background .home .align-items--center .app-intro img {
  position: absolute;
  height: 85%;
  left: 25%;
}
.main .same-background .home .shape-bottom {
  position: absolute;
  top: auto;
  bottom: -15%;
  left: 0;
  right: 0;
}
.main .counter-area {
  background-color: #fff;
  width: 100%;
  height: 230px;
  box-sizing: border-box;
  position: relative;
}
.main .counter-area .align-items--center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main .counter-area .align-items--center .counter {
  width: 18.5%;
}
.main .counter-area .align-items--center .counter h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #7c4fe0;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}
.main .counter-area .align-items--center .counter h5 {
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  margin: 0;
  text-align: center;
}
.main .counter-area .align-items--center .border-box {
  height: 80px;
  width: 1px;
  border-right: 1px solid #c7c4c4;
  box-sizing: border-box;
}
.main .feature {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .feature .heading {
  height: 330px;
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .feature .heading .button {
  box-sizing: border-box;
  height: 40px;
  width: 220px;
  padding: 8px 24px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px #e4e4e4;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.main .feature .heading .button .primary {
  color: #7c4fe0;
}
.main .feature .heading .button .primary .fa-lightbulb {
  padding-right: 1px;
}
.main .feature .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .feature .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .feature .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .feature .content {
  display: flex;
  flex-direction: row;
  width: 74%;
  margin: auto;
  justify-content: space-around;
}
.main .feature .content .image-box {
  height: 324px;
  width: 290px;
  padding: 48px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px #e4e4e4;
  border-radius: 30px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .feature .content .image-box .feature-img {
  margin: 0 0 16px;
}
.main .feature .content .image-box .feature-img img {
  width: 20%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.main .feature .content .image-box h3 {
  margin: 0 0 8px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
.main .feature .content .image-box p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}
.main .feature .content .image-box:hover {
  box-shadow: 0px -6px 12px #e4e4e4;
}
.main .service-area {
  background-color: #f6f9fe;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .service-area .content {
  width: 74%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main .service-area .content .text-left {
  width: 540px;
}
.main .service-area .content .text-left h2 {
  line-height: 1.4;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
}
.main .service-area .content .text-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main .service-area .content .text-left ul .single-service {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
}
.main .service-area .content .text-left ul .single-service .box {
  height: 54px;
  min-width: 54px;
  box-sizing: border-box;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.main .service-area .content .text-left ul .single-service .box i {
  font-size: 24px;
  color: #7c4fe0;
}
.main .service-area .content .text-left ul .single-service p {
  margin: 0;
  font-weight: 300;
  margin-left: 24px;
}
.main .service-area .content .text-left .button {
  height: fit-content;
  width: fit-content;
  padding: 18px 30px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background: linear-gradient(134deg, #4728dc, #8230e7);
}
.main .service-area .content .text-left .button a {
  text-decoration: none;
  color: #fff;
}
.main .service-area .content .img-right {
  position: relative;
  left: 8%;
}
.main .service-area .content .img-right img {
  width: 85%;
}
.main .discover-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .discover-area .content {
  width: 74%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main .discover-area .content .img-left {
  position: relative;
}
.main .discover-area .content .img-left img {
  width: 85%;
}
.main .discover-area .content .text-right {
  width: 540px;
}
.main .discover-area .content .text-right h2 {
  line-height: 1.4;
  font-size: 48px;
  margin: 0 0;
  font-weight: 600;
}
.main .discover-area .content .text-right p {
  padding: 16px 0 24px;
  margin: 0;
}
.main .discover-area .content .text-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main .discover-area .content .text-right ul .single-service {
  display: flex;
  flex-direction: row;
  padding: 4px 0;
}
.main .discover-area .content .text-right ul .single-service .box .fa-check {
  color: #7c4fe0;
}
.main .discover-area .content .text-right ul .single-service p {
  padding: 0 0 0 16px;
  font-weight: 300;
}
.main .discover-area .content .text-right .icon-box {
  margin: 16px 0 0;
  display: flex;
  flex-direction: row;
}
.main .discover-area .content .text-right .icon-box .icon {
  height: 54px;
  width: 54px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.main .discover-area .content .text-right .icon-box .icon .fas {
  color: #7c4fe0;
  font-size: 26px;
}
.main .discover-area .content .text-right .icon-box .center-icon {
  margin: 0 16px;
}
.main .work-area {
  background: linear-gradient(134deg, #5135de, #8c3de9);
  width: 100%;
  height: 642px;
  display: flex;
  flex-direction: column;
}
.main .work-area .heading {
  width: 730px;
  margin: auto;
}
.main .work-area .heading .text-white {
  text-align: center;
  line-height: 1.4;
  font-size: 48px;
  margin: 0 0;
  color: #fff;
  font-weight: 600;
}
.main .work-area .heading p {
  padding: 16px 0 24px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.main .work-area .content {
  width: 74%;
  margin: auto;
  display: flex;
}
.main .work-area .content .single-work {
  width: 350px;
  height: 260px;
  padding: 16px;
  box-sizing: border-box;
}
.main .work-area .content .single-work .work-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .work-area .content .single-work .work-icon img {
  width: 20%;
}
.main .work-area .content .single-work .text-white {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 16px 0;
  color: #fff;
  font-weight: 500;
}
.main .work-area .content .single-work p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}
.main .work-area .content .angle-right {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}
.main .work-area .content .angle-right i {
  font-size: 70px;
}
.main .review-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .review-area .heading {
  height: 330px;
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .review-area .heading .button {
  box-sizing: border-box;
  height: 40px;
  width: 230px;
  padding: 8px 24px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px #e4e4e4;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.main .review-area .heading .button .primary {
  color: #7c4fe0;
}
.main .review-area .heading .button .primary .fa-lightbulb {
  padding-right: 1px;
}
.main .review-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .review-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .review-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .review-area .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.main .review-area .content .blog {
  width: 350px;
  margin: 0 15px;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .review-area .content .blog .card-top {
  padding: 24px;
}
.main .review-area .content .blog .card-top .review-icon i {
  color: #ffc107;
}
.main .review-area .content .blog .card-top h4 {
  font-size: 20px;
  margin: 24px 0 16px;
  color: #7c4fe0;
}
.main .review-area .content .blog .card-top p {
  font-size: 16px;
  margin: 0;
  font-weight: 300;
}
.main .review-area .content .blog .card-bottom {
  background-color: #f6f9fe;
  padding: 24px;
  display: flex;
}
.main .review-area .content .blog .card-bottom img {
  width: 27%;
  border-radius: 50%;
}
.main .review-area .content .blog .card-bottom .reviewer-name {
  margin: 0 0 0 24px;
}
.main .review-area .content .blog .card-bottom .reviewer-name h5 {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 600;
}
.main .review-area .content .blog .card-bottom .reviewer-name h6 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}
.main .review-area .content .blog:hover {
  box-shadow: 0px 8px 15px 6px #e4e4e4;
}
.main .price-area {
  background-color: #f6f9fe;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .price-area .heading {
  height: 214px;
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .price-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .price-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .price-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .price-area .content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 74%;
  margin: auto;
}
.main .price-area .content .price-box {
  position: relative;
  padding: 48px;
  background-color: #fff;
  height: fit-content;
  width: 254px;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 18px;
}
.main .price-area .content .price-box .plan-thumb {
  height: 80px;
  text-align: center;
}
.main .price-area .content .price-box .plan-thumb img {
  height: 100%;
}
.main .price-area .content .price-box h4 {
  text-transform: uppercase;
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: 600;
  color: #4e4e4e;
  text-align: center;
  letter-spacing: 2px;
}
.main .price-area .content .price-box h2 {
  color: #7c4fe0;
  text-align: center;
  font-size: 48px;
  margin: 16px 0;
}
.main .price-area .content .price-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 254px;
}
.main .price-area .content .price-box ul .border-top {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 16px 0;
  margin: 0;
  font-weight: 400;
  border-top: 1px solid #b8b2b2;
}
.main .price-area .content .price-box ul .border-bottom {
  border-bottom: 1px solid #b8b2b2;
}
.main .price-area .content .price-box .position-absolute {
  margin: 24px 0 0;
  padding: 18px 30px;
  height: fit-content;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(134deg, #4728dc, #8230e7);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6%;
}
.main .price-area .question {
  width: 74%;
  margin: auto;
  text-align: center;
}
.main .price-area .question p {
  margin: 0;
  padding: 84px 0 0;
  font-size: 16px;
  color: #212529;
  font-weight: 500;
}
.main .price-area .question p a {
  color: #212529;
}
.main .faq-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .faq-area .heading {
  height: 214px;
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .faq-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .faq-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .faq-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .faq-area .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 74%;
  margin: auto;
}
.main .faq-area .content .left {
  width: calc(50% - 15px);
  padding-right: 15px;
}
.main .faq-area .content .right {
  width: calc(50% - 15px);
  padding-left: 15px;
}
.main .faq-area .content h5 {
  font-size: 16px;
  padding: 16px 0;
  font-weight: 600;
  margin: 0;
}
.main .faq-area .content p {
  font-size: 16px;
  padding: 16px 0;
  font-weight: 400;
  margin: 0;
}
.main .faq-area .question {
  width: 74%;
  margin: auto;
  text-align: center;
}
.main .faq-area .question p {
  margin: 0;
  padding: 24px 16px 0;
  font-size: 16px;
  color: #212529;
  font-weight: 500;
}
.main .faq-area .question p a {
  color: #212529;
}
.main .team-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .team-area .heading {
  height: 214px;
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .team-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .team-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .team-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .team-area .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 74%;
  margin: auto;
}
.main .team-area .content .expert {
  position: relative;
  width: 285px;
  margin: 0 15px;
  box-sizing: border-box;
}
.main .team-area .content .expert img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}
.main .team-area .content .expert .blur {
  position: absolute;
  width: 100%;
  height: 99%;
  background-color: #7c4fe0;
  left: 0%;
  top: 0;
  border-radius: 12px;
  z-index: 2;
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .team-area .content .expert .blur h4 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 1px 0;
  font-weight: 500;
  opacity: 1;
}
.main .team-area .content .expert .blur h5 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 1px 0;
  font-weight: 400;
  opacity: 1;
}
.main .team-area .content .expert .blur .contact {
  padding: 5px 0;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
}
.main .team-area .content .expert .blur .contact i {
  padding: 0 8px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}
.main .team-area .content .expert .blur .contact i:hover {
  font-size: 24px;
}
.main .team-area .content .expert .blur:hover {
  opacity: 0.8;
}
.main .download-area {
  background-color: #f6f9fe;
  width: 100%;
  padding: 70px 0;
  box-sizing: border-box;
}
.main .download-area .heading {
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .download-area .heading h2 {
  line-height: 1.4;
  width: 825px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 48px;
}
.main .download-area .heading p {
  width: 825px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 300;
}
.main .download-area .heading .button-group {
  margin: 30px 0 0;
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.main .download-area .heading .button-group img {
  height: 100%;
  background-color: #212529;
}
.main .download-area .heading .last {
  font-style: italic;
}
.main .sub-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .sub-area .heading {
  height: 214px;
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .sub-area .heading h2 {
  line-height: 1.4;
  width: 760px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 48px;
}
.main .sub-area .heading p {
  width: 760px;
  text-align: center;
  font-size: 16px;
  margin: 24px 0;
  font-weight: 300;
}
.main .sub-area .sub-form {
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .sub-area .sub-form input {
  box-sizing: border-box;
  width: 730px;
  height: 60px;
  padding: 6px 20px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 18px;
}
.main .sub-area .sub-form button {
  background-color: #7c4fe0;
  box-sizing: border-box;
  width: 730px;
  height: 60px;
  padding: 6px 20px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 500;
  color: #fff;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
  cursor: pointer;
}
.main .sub-area .sub-form button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.main .contact-area {
  background-color: #f6f9fe;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .contact-area .heading {
  height: 214px;
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .contact-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .contact-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .contact-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .contact-area .content {
  width: 74%;
  margin: auto;
}
.main .contact-area .content .text-left {
  width: 42%;
  padding: 0 15px;
  box-sizing: border-box;
}
.main .contact-area .content .text-left p {
  font-weight: 300;
  margin: 0 0 16px;
}
.main .contact-area .content .text-left .py {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
}
.main .contact-area .content .text-left .py .social-icon {
  height: 45px;
  min-width: 45px;
  border-radius: 5px;
  background-color: #7c4fe0;
  margin: 0 16px 0 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .contact-area .content .text-left .py .social-icon i {
  font-size: 18px;
}
.main .contact-area .content .text-left .py a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0;
  font-weight: 300;
  text-decoration: none;
  color: #212529;
}
.main .contact-area .content .text-left .py a:hover {
  color: #7c4fe0;
}

@media only screen and (min-width: 1100px) {
  .-container {
    max-width: 900px;
  }
}

/*# sourceMappingURL=main.css.map */
