@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins";
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #212529;
  text-align: left;
  overflow-x: hidden;
}

.main {
  height: 800px;
  width: 100%;
  background-color: #4f2fd8;
}
.main .__nav {
  height: 84px;
  max-width: 100%;
  padding: 0px 16px;
  background-color: #4f2fd8;
}
.main .__nav .-container {
  position: absolute;
  left: 7%;
  right: 7%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .__nav .-container .-branch {
  cursor: pointer;
}
.main .__nav .-container .-inner .navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
}
.main .__nav .-container .-inner .navbar-nav .nav-items {
  cursor: pointer;
  padding: 30px 20px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .nav-link {
  text-decoration: none;
  color: #fff;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .fa-caret-up {
  color: #fff;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  background-color: #fff;
  list-style: none;
  display: block;
  position: absolute;
  top: 114%;
  left: 0;
  font-size: 13px;
  color: #2c2e30;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu {
  width: 210px;
  padding: 10px;
  height: 39.5px;
  box-sizing: border-box;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu {
  text-decoration: none;
  color: #212529;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu .new-icon, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu .new-icon {
  font-size: 10px;
  box-sizing: border-box;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  color: #212529;
  background-color: #ffc107;
  margin-left: 0.5rem !important;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu .fa-caret-down, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu .fa-caret-down {
  position: absolute;
  left: 90%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .drop-menu-child, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .drop-menu-child {
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  background-color: #fff;
  list-style: none;
  display: block;
  position: absolute;
  left: 100%;
  font-size: 13px;
  color: #2c2e30;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .drop-menu-child li, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .drop-menu-child li {
  width: 230px;
  padding: 10px;
  height: 39.5px;
  box-sizing: border-box;
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .add-1, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-1 {
  top: calc(10% + 39.5px);
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .add-2, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-2 {
  top: calc(10% + 79px);
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .add-3, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-3 {
  top: calc(10% + 118.5px);
}
.main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu li .add-4, .main .__nav .-container .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-4 {
  top: calc(10% + 158px);
}
.main .__nav .-container .-inner .navbar-nav .dropdown:hover .fa-caret-up {
  opacity: 1;
  visibility: visible;
  top: 70%;
}
.main .__nav .-container .-inner .navbar-nav .dropdown:hover .drop-menu {
  top: 84%;
  opacity: 1;
  visibility: visible;
}
.main .__nav .-container .-inner .navbar-nav .dropdown:hover .drop-menu li:hover {
  background-color: #e9ecee;
}
.main .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .fa-caret-down {
  rotate: -90deg;
}
.main .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .drop-menu-child {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.main .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-1 {
  top: calc(0% + 39.5px);
}
.main .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-2 {
  top: calc(0% + 79px);
}
.main .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-3 {
  top: calc(0% + 118.5px);
}
.main .__nav .-container .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-4 {
  top: calc(0% + 158px);
}
.main .home {
  height: calc(100% - 84px);
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}
.main .home .align-items--center {
  height: 100%;
  width: 74%;
  margin-left: auto;
  margin-right: auto;
}
.main .home .align-items--center .welcome-intro {
  position: absolute;
  max-width: 38%;
  left: 13%;
  top: 25%;
}
.main .home .align-items--center .welcome-intro .text-white {
  color: #fff;
}
.main .home .align-items--center .welcome-intro h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}
.main .home .align-items--center .welcome-intro p {
  font-size: 16px;
  margin: 24px 0;
}
.main .home .align-items--center .welcome-intro .button-group--store {
  margin-top: 30px;
  display: flex;
}
.main .home .align-items--center .welcome-intro .button-group--store img {
  max-width: 190px;
  cursor: pointer;
}
.main .home .align-items--center .welcome-intro .button-group--store .android {
  margin-right: 10px;
}
.main .home .align-items--center .welcome-intro .notice {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 0;
  font-style: italic;
}
.main .home .align-items--center .app-intro {
  top: 18%;
  max-width: 38%;
  right: 13%;
  position: absolute;
  display: flex;
  height: 90%;
}
.main .home .align-items--center .app-intro .phone img {
  height: 100%;
  width: auto;
  vertical-align: middle;
}
.main .counter-area {
  background-color: #fff;
  width: 100%;
  height: 230px;
  box-sizing: border-box;
}
.main .counter-area .align-items--center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main .counter-area .align-items--center .counter {
  width: 18.5%;
}
.main .counter-area .align-items--center .counter h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #7c4fe0;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}
.main .counter-area .align-items--center .counter h5 {
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  margin: 0;
  text-align: center;
}
.main .counter-area .align-items--center .border {
  border-right: 1px solid #222222;
}
.main .feature {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .feature .heading {
  height: 330px;
  width: 74%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .feature .heading .button {
  box-sizing: border-box;
  height: 40px;
  width: 220px;
  padding: 8px 24px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px #e4e4e4;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.main .feature .heading .button .primary {
  color: #7c4fe0;
}
.main .feature .heading .button .primary .fa-lightbulb {
  padding-right: 1px;
}
.main .feature .heading h2 {
  line-height: 1.4;
  width: 610px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  font-size: 48px;
}
.main .feature .heading p {
  width: 610px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 300;
}
.main .feature .content {
  display: flex;
  flex-direction: row;
  width: 74%;
  margin: auto;
  justify-content: space-around;
}
.main .feature .content .image-box {
  height: 324px;
  width: 290px;
  padding: 48px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px #e4e4e4;
  border-radius: 30px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .feature .content .image-box .feature-img {
  margin: 0 0 16px;
}
.main .feature .content .image-box .feature-img img {
  width: 20%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.main .feature .content .image-box h3 {
  margin: 0 0 8px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
.main .feature .content .image-box p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}
.main .feature .content .image-box:hover {
  box-shadow: 0px -6px 12px #e4e4e4;
}
.main .service-area {
  background-color: #f6f9fe;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .service-area .content {
  width: 74%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main .service-area .content .text-left {
  width: 540px;
}
.main .service-area .content .text-left h2 {
  line-height: 1.4;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
}
.main .service-area .content .text-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main .service-area .content .text-left ul .single-service {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
}
.main .service-area .content .text-left ul .single-service .box {
  height: 54px;
  width: 90px;
  box-sizing: border-box;
  border: 1px solid black;
  margin-right: 24px;
}
.main .service-area .content .text-left ul .single-service p {
  margin: 0;
  font-weight: 300;
}
.main .service-area .content .text-left .button {
  height: fit-content;
  width: fit-content;
  padding: 18px 30px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background: linear-gradient(134deg, #4728dc, #8230e7);
}
.main .service-area .content .text-left .button a {
  text-decoration: none;
  color: #fff;
}
.main .service-area .content .img-right {
  position: relative;
  left: 8%;
}
.main .service-area .content .img-right img {
  width: 85%;
}

@media only screen and (min-width: 1100px) {
  .-container {
    max-width: 900px;
  }
}

/*# sourceMappingURL=main.css.map */
